.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}
.navbar__menu {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  align-items: center;
}
.navbar__menu__link {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.9230769277px;
  color: #83888F;
  cursor: pointer;
}
@media (max-width: 641px) {
  .navbar__menu__link {
    display: none;
  }
}
.navbar__menu__link:hover {
  color: #333D4B;
}
.navbar__add {
  display: none;
}
@media (max-width: 641px) {
  .navbar__add {
    display: block;
  }
}
.navbar__add__btn {
  background: none;
  border: none;
  display: none;
}
@media (max-width: 641px) {
  .navbar__add__btn {
    display: block;
    margin-right: 24px;
  }
}
.navbar__remove__btn {
  display: none;
  border: none;
  background-color: none;
  margin-right: 24px;
}
.navbar__add__btn:focus .navbar__menu {
  transform: translateX(0);
}

@media (max-width: 641px) {
  .navbar__menu {
    position: fixed;
    top: 97px;
    right: 0;
    background: linear-gradient(180deg, #FFFFFF 56.94%, rgba(254, 252, 247, 0.504981) 123%);
    height: 606px;
    max-width: 375px;
    padding: 80px 60px 0 50px;
    row-gap: 25px;
    transform: translateX(100%);
    transition: 0.2s ease;
    -moz-column-gap: 170px;
         column-gap: 170px;
    flex-direction: column;
    z-index: 3;
  }
  .navbar__menu__link {
    display: block;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    font-family: "Fraunces", serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    align-items: center;
    text-align: center;
    color: #333D4B;
  }
}
.show {
  transform: translateX(0);
}

.hero {
  background-image: url(/image/coffe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
  height: 600px;
  border-radius: 10px;
}

.theme {
  margin-left: 60px;
  row-gap: 32px;
}
.theme__box {
  max-width: 493px;
  padding-top: 120px;
}
.theme__box--title {
  max-width: 493px;
  height: 145px;
  font-family: "Fraunces", serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  letter-spacing: 0px;
  text-align: left;
  color: #FEFCF7;
}
.theme__box--text {
  max-width: 445px;
  height: 78px;
  opacity: 0.8000000119px;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  color: #FEFCF7;
}
.theme__box--btn {
  max-width: 217px;
  height: 56px;
  background-color: #66D2CF;
  font-family: "Fraunces", serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  color: #FEFCF7;
  top: 15px;
  left: 31px;
  padding: 10px 20px;
  border-radius: 8px;
}

@media only screen and (max-width: 689px) {
  .hero {
    background-image: url(/image/coffee.png);
    background-repeat: no-repeat;
  }
  .navbar {
    -moz-column-gap: 20px;
         column-gap: 20px;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 641px) {
  .navbar__menu__link {
    display: block;
  }
  .navbar__add {
    display: block;
  }
}
@media only screen and (max-width: 602px) {
  .theme__box--title {
    max-width: 440px;
    font-size: 50px;
    font-weight: 900;
    line-height: 60px;
  }
}
@media only screen and (max-width: 472px) {
  .hero {
    background-image: url("/image/cofe.jpg");
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 451px) {
  .hero {
    background-image: url(/image/cofe.jpg);
    background-repeat: no-repeat;
  }
  .theme__box--title {
    width: 279px;
    height: 81px;
    font-size: 40px;
    line-height: 40px;
  }
  .theme__box--text {
    width: 279px;
    height: 101px;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
  }
}
@media only screen and (max-width: 479px) {
  .theme {
    margin-left: 50px;
  }
}
.boxes {
  display: flex;
  background-image: url(/image/collection.png);
  background-repeat: no-repeat;
  background-position-y: 60px;
}
.boxes__4items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
  -moz-column-gap: 18px;
       column-gap: 18px;
}
@media (max-width: 1189px) {
  .boxes__4items {
    margin-left: 210px;
  }
}
.boxes__4items__item {
  max-width: 255px;
  text-align: center;
}
.boxes__4items__item__img--img {
  max-width: 255px;
  height: 193px;
}
.boxes__4items__item__themee--theme {
  font-family: "Fraunces", serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  color: #333D4B;
  margin-top: 71px;
}
.boxes__4items__item__themee--text {
  max-width: 255px;
  height: 78px;
  margin-top: 24px;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #333D4B;
}

@media (max-width: 1189px) {
  .boxes__4items {
    flex-direction: column;
    width: 573px;
    height: 193px;
  }
  .boxes__4items__item {
    display: flex;
    justify-content: center;
    -moz-column-gap: 100px;
         column-gap: 100px;
    padding: 32px 0;
  }
  .boxes__4items__item__themee--text {
    width: 300px;
    height: 50px;
  }
}
@media (max-width: 960px) {
  .boxes__4items {
    margin-left: 100px;
  }
}
@media (max-width: 720px) {
  .boxes__4items {
    margin-left: 30px;
  }
}
@media (max-width: 630px) {
  .boxes__4items__item {
    flex-direction: column;
  }
}
.reklama {
  display: flex;
  align-items: center;
  position: relative;
  height: 557px;
  margin-top: 140px;
  padding-top: 100px;
  flex-direction: column;
  background-color: #333D4B;
  border-radius: 8px;
}
@media (max-width: 1189px) {
  .reklama {
    margin-top: 950px;
  }
}
.reklama__theme {
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
  color: #FEFCF7;
}
@media (max-width: 641px) {
  .reklama__theme {
    font-size: 28px;
    font-weight: 900;
    line-height: 28px;
  }
}
.reklama__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 540px;
  text-align: center;
  color: #FEFCF7;
  margin-bottom: 24px;
  margin-top: 32px;
}
@media (max-width: 641px) {
  .reklama__text {
    margin-bottom: 24px;
  }
}
.reklama__box1 {
  position: absolute;
  top: 300px;
  color: #FEFCF7;
  padding: 72px 48px 72px 48px;
  border-radius: 8px;
  left: 100px;
  text-align: center;
  background-color: #0E8784;
  -moz-column-gap: 36px;
       column-gap: 36px;
}
@media (max-width: 641px) {
  .reklama__box1__image {
    margin-bottom: 56px;
  }
}
.reklama__box1__theme {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin: 56px 0 24px 0;
}
@media (max-width: 1189px) {
  .reklama__box1__theme {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 16px 0;
  }
}
.reklama__box1__text {
  max-width: 540px;
  text-align: center;
  color: #FEFCF7;
  max-width: 255px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
@media (max-width: 1189px) {
  .reklama__box1__text {
    max-width: 344px;
    font-size: 15px;
    line-height: 25px;
    height: 50px;
  }
}
@media (max-width: 641px) {
  .reklama__box1__text {
    max-width: 212px;
  }
}
@media (max-width: 1189px) {
  .reklama__box1 {
    display: flex;
    align-items: center;
    max-width: 573px;
    height: 180px;
    position: unset;
    margin-bottom: 24px;
  }
}
@media (max-width: 641px) {
  .reklama__box1 {
    max-width: 279px;
    height: 382px;
    flex-direction: column;
  }
}
@media (max-width: 641px) {
  .reklama__box1 {
    margin-bottom: 24px;
  }
}
.reklama__box2 {
  position: absolute;
  top: 300px;
  color: #FEFCF7;
  padding: 72px 48px 72px 48px;
  border-radius: 8px;
  text-align: center;
  background-color: #0E8784;
  -moz-column-gap: 36px;
       column-gap: 36px;
}
@media (max-width: 641px) {
  .reklama__box2__image {
    margin-bottom: 56px;
  }
}
.reklama__box2__theme {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin: 56px 0 24px 0;
}
@media (max-width: 1189px) {
  .reklama__box2__theme {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 16px 0;
  }
}
.reklama__box2__text {
  max-width: 540px;
  text-align: center;
  color: #FEFCF7;
  max-width: 255px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
@media (max-width: 1189px) {
  .reklama__box2__text {
    max-width: 344px;
    font-size: 15px;
    line-height: 25px;
  }
}
@media (max-width: 641px) {
  .reklama__box2__text {
    max-width: 212px;
  }
}
@media (max-width: 1189px) {
  .reklama__box2 {
    display: flex;
    align-items: center;
    max-width: 573px;
    height: 180px;
    position: unset;
    margin-bottom: 24px;
  }
}
@media (max-width: 641px) {
  .reklama__box2 {
    max-width: 279px;
    height: 382px;
    flex-direction: column;
  }
}
@media (max-width: 641px) {
  .reklama__box2 {
    margin-bottom: 24px;
  }
}
.reklama__box3 {
  position: absolute;
  top: 300px;
  text-align: center;
  background-color: #0E8784;
  color: #FEFCF7;
  padding: 72px 48px 72px 48px;
  border-radius: 8px;
  -moz-column-gap: 36px;
       column-gap: 36px;
  left: 828px;
}
.reklama__box3__image {
  margin-top: 20px;
}
@media (max-width: 641px) {
  .reklama__box3__image {
    margin-bottom: 56px;
  }
}
.reklama__box3__theme {
  font-family: "Fraunces", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
  margin: 56px 0 24px 0;
}
@media (max-width: 1189px) {
  .reklama__box3__theme {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 16px 0;
  }
}
.reklama__box3__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 540px;
  text-align: center;
  color: #FEFCF7;
  max-width: 255px;
}
@media (max-width: 1189px) {
  .reklama__box3__text {
    max-width: 344px;
    font-size: 15px;
    line-height: 25px;
  }
}
@media (max-width: 641px) {
  .reklama__box3__text {
    max-width: 212px;
  }
}
@media (max-width: 1189px) {
  .reklama__box3 {
    display: flex;
    align-items: center;
    max-width: 573px;
    height: 180px;
    position: unset;
    margin-bottom: 24px;
  }
}
@media (max-width: 641px) {
  .reklama__box3 {
    max-width: 279px;
    height: 382px;
    flex-direction: column;
  }
}
@media (max-width: 641px) {
  .reklama__box3 {
    height: 902px;
  }
}

.orta {
  margin-top: 400px;
  padding-left: 30px;
}

.themes--theme {
  font-family: "Fraunces", serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #83888F;
}

.dumaloq {
  display: flex;
  align-items: center;
  margin-top: 75px;
}
.dumaloq--dumalo {
  width: 31px;
  height: 31px;
  border: 2px solid #0E8784;
  border-radius: 100%;
}
.dumaloq--chizq {
  max-width: 300px;
  width: 100%;
  border-radius: 1px;
  border: solid #FDD6BA;
  height: 3px;
}
@media (max-width: 1189px) {
  .dumaloq--chizq {
    max-width: 200px;
  }
}

.types {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding-left: 30px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.types__box {
  max-width: 285px;
  height: 355px;
}
.types__box--number {
  max-width: 90px;
  height: 72px;
  font-family: "Fraunces", serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  letter-spacing: 0px;
  text-align: left;
  color: #FDD6BA;
}
.types__box--theme {
  max-width: 255px;
  height: 73px;
  top: 110px;
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  color: #333D4B;
  margin: 38px 0 42px 0;
}
.types__box--text {
  max-width: 285px;
  height: 130px;
  top: 225px;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #333D4B;
  margin-bottom: 64px;
}
.types__box--btn {
  max-width: 217px;
  height: 56px;
  background-color: #66D2CF;
  font-family: "Fraunces", serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0px;
  margin-left: 30px;
  text-align: center;
  color: #FEFCF7;
  top: 15px;
  left: 31px;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 48px;
  border-color: none;
}

@media (max-width: 952) {
  .types__box {
    max-width: 223px;
    height: 371px;
  }
  .types__box--theme {
    font-size: 28px;
    line-height: 32px;
  }
  .types__box--text {
    font-size: 15px;
    line-height: 25px;
  }
}
@media (max-width: 644px) {
  .orta {
    margin-top: 1040px;
  }
  .themes--theme {
    text-align: center;
  }
  .dumaloq {
    display: none;
  }
  .types {
    flex-direction: column;
    align-items: center;
  }
  .types__box {
    margin-bottom: 56px;
  }
  .types__box--number {
    margin-bottom: 24px;
  }
}
.footer {
  display: flex;
  justify-content: space-around;
  background-color: #2C343E;
  height: 120px;
  margin-top: 216px;
  align-items: center;
}
.footer__menu {
  display: flex;
  -moz-column-gap: 33px;
       column-gap: 33px;
}
.footer__menu__link {
  text-decoration: none;
  color: #83888F;
}

@media (max-width: 837px) {
  .footer__menu__link {
    font-size: 10px;
  }
}
@media (max-width: 644px) {
  .footer {
    height: 270px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
.footer__menu__link:hover {
  color: #FEFCF7;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Barlow", sans-serif;
}

.container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.secondary-container {
  max-width: 1111px;
  width: 100%;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */